<h3> Register a user </h3>
<br>

<form action='/create' method='post'>
    <input type='text' name='creation[name]' placeholder='Name'>
    <br>
    <input type='text' name='creation[email]' placeholder='Email'>
    <br>
    <input type='password' name='creation[password]' placeholder='Password'>
    <input type='submit' value='Create'>
  </form>
