<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, ass-hats!</p>

  <form action='/urls' method='post'>
    <input type='text' name='link' placeholder='e.g. http://www.google.com'>
    <input type='submit' value='Shoten!'>
  </form>
  <br>
  <br>
  <form action='/' method='Post'>
    <input type='text' name='email' placeholder='Email'>
    <input type='password' name='password' placeholder='Password'>
    <input type='submit' value='Login'>
  </form>
  <br>
  <br>
  <% Url.all.each do |url| %>
    <br>
   <a href= "/<%=url.short_link%>" > <%= url.short_link %> </a>
  <%end%>
  <br>
  <br>
  <input type='submit' value='Register' id='new_user'>
  <br>
  <br>
  
</div>
